@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-color: gray #0D0D2B;
    scrollbar-width: thin;
    
}

.scroller::-webkit-scrollbar-thumb:vertical:hover {
    color: white;
}

body {
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 1023px){

    body {
        overflow-x: hidden !important;
    }

    .fa-bars {
        display: none !important;
    }

}

@media screen and (min-width: 1024px){
    .mobile {
        visibility: hidden !important;
        display: none;
    }

}